html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.centered_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  border: none;
 }

#listTask p {
  margin: 5px 0; 
  font-size: 16px;

}